header{
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;
}

main{
  text-align: center;
  margin-top: 1em;
}

.description{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}