header{
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 174, 174) 100%);
  /* #333 */
  color: #530e0e;
  padding: 1em;
  text-align: center;
  font-size: 1.6em;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #530e0e;
  color: white;
}

main{
  text-align: center;
  margin-top: 1em;
  flex: 1;
  min-height: 10vh;
}

.not-active {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.custom-select{
  width: 50%;
  margin: 0 auto 1em;
  font-size: 1.2em;
}

select{
  width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}

.description{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}

textarea{
  width: 50%;
  height: 8em;
  font-size: 1.5em;
}

form{
  margin-bottom: 1em;
}

input[type=submit]{
  font-size: 1.2em;
}

.rule{
  text-align: center;
  padding: 1em;
  color: #530e0e;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 174, 174) 100%);
  box-shadow: 4px 4px 1px #464646;
  width: 50%;
  margin: 3em auto 0;
  border-radius: 1em;
}

.return{
  text-decoration: none;
  display: block;
  text-align: center;
  width: fit-content;
  margin: 1em auto 0;
  font-size: 1.5em;
  color: white;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a{
  width: 150px;
  text-decoration: none;
  color: #530e0e;
  font-size: 1.5em;
  margin: 0 1em;
  padding: 0.5em;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 174, 174) 100%);
}

.content{
  margin: 1em 0;
  font-size: 1.2em;
  text-align: center;
}

footer{
  text-align: center;
}


@media screen and (max-width: 650px){

  .description{
    width: 90%;
  }

  textarea{
    width: 90%;
  }

  nav a{
    font-size: 1.2em;
  }
  
}