header{
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 174, 174) 100%);
  /* #333 */
  color: #530e0e;
  padding: 1em;
  text-align: center;
  font-size: 1.6em;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #530e0e;
  color: white;
}

main{
  text-align: center;
  margin-top: 1em;
}

.description{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}

textarea{
  width: 50%;
  height: 8em;
  font-size: 1.5em;
}

input[type=submit]{
  font-size: 1.2em;
}

.rule{
  text-align: center;
  padding: 1em;
  color: #530e0e;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 174, 174) 100%);
  box-shadow: 4px 4px 1px #464646;
  width: 60%;
  margin: 3em auto 0;
  border-radius: 1em;
}

.return{
  text-decoration: none;
}

.return p{
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
  font-size: 1.8em;
  color: white;
}

@media screen and (max-width: 650px){

  .description{
    width: 90%;
  }

  textarea{
    width: 90%;
  }
  
}