{% extends "base.html" %}
{% block title %}Prawniczy pomocnik{% endblock %}
{% block content %}
  <header>
    <h1>Prawniczy<br>pomocnik</h1>
  </header>
  <main>
    <div class="description">
      <p>Witaj w aplikacji Prawniczy pomocnik. Pomaga ona w lepszym zrozumieniu przepisów prawnych i ma na celu podniesienie świadomości obywateli w tym temacie. Poniżej wybierz sekcję, która cię interesuje.</p>
    </div>
    <nav>
      <a href="/spadki/">Spadki</a>
      <a href="/karne/">Prawo karne</a>
    </nav>
  </main>
{% endblock %}